.idea/
build*/
cmake-build*/
riegl_libs*/
test_data*/
treetools*/
data*/
3rd-party/rivlib*/
.cache/*
# Test data / tool output files
*.las
*.laz
*.ply
*.dat
*.png
!pics/*.png
forest_*.txt
room_*.txt